[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
phonenumbers = "*"
matplotlib = "*"
fpdf = "*"
pypdf2 = "*"
argparse = "*"
pytube = {git = "https://github.com/nficano/pytube.git"}
pdf2image = "*"
moviepy = "*"
ffmpeg-python = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
